*{
  font-family: Times, monospace, serif;
}

html{
  font-size:25px
}

p{
  color: red;
}


.text{
  color: blue;
}

.pxsize{
  font-size: 20px;
}

.remsize{
  font-size: 2rem;
}

.emsize{
  font-size: 10em+-*
}


h1, h2{
  text-align: justify;
  color: violet;
}